/* Domino Common CSS Rules */

/* view styles */
.extnd-view-category{
   width: 100%;
}

.extnd-view-response {
   width: 100%;
   z-index:2; 
}

/* to allow for rows to grow in height */
.x-grid-row td {
  white-space: normal;
}