/* Domino Common CSS Rules */

/* view styles */
.xnd-view-category{
   width: 100%;
}

.xnd-view-response {
   width: 100%;
   z-index:2; 
}


/* to allow for rows to grow in height */
.x-grid-row td {
  white-space: normal;
}


/* domino's icons are 21px + add 2px for padding */
.x-btn-text-icon .x-btn-center .x-btn-text{
  padding-left:23px;
}
.x-btn-icon .x-btn-center .x-btn-text{
  height: 23px;
  width: 23px;
}
.x-btn-left, .x-btn-right{
  height:23px;
}
